*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#MainBox
{
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;

    max-width: 800px;
    margin: 0 auto;
}

@media only screen
and (max-width: 500px)
{ 
    #MainBox
    {
        padding-top: 20px;
    }
}

#MainBox button
{
    display: inline-block;
    padding: 5px 15px;
    border-width: 2px;
    border-style: solid;

    font-size: 18px;
}

#MainBox #TypeBox #Input
{
    display: block;
    border: 0;
    margin-bottom: 10px;

    font-size: 24px;
}

#MainBox #TypeBox #Info
{
    font-size: 20px;
    margin-bottom: 10px;
}

#MainBox #TypeBox #Board 
{
    margin-bottom: 10px;

    width: 100%;
    height: 125px;

    overflow-y: hidden;
    overflow-x: hidden;
}

#MainBox #TypeBox #Board span 
{
    display: inline-block;
    padding: 2px;

    font-size: 28px;
}

#MainBox .Buttons
{
    margin-bottom: 10px;
}

#MainBox #ScoreBox
{
    margin-bottom: 5px;

    font-size: 20px;
}

#MainBox #ScoreBox #Wpm
{
    font-size: 30px;
}

#MainBox #ScoreBox #Accuracy
{
    font-size: 24px;
}

#MainBox #SettingsBox 
{
}

#MainBox #SettingsBox .Setting
{
    margin-bottom: 10px;
}

#MainBox #SettingsBox input[type="radio"]
{
    display: none;
}

#MainBox #SettingsBox label
{
    display: inline-block;
    padding: 3px 7px;

    border-width: 2px;
    border-style: solid;
    font-size: 16px;
}
