body 
{
    background-color: #333333;
    color: #DDDDDD;
}

footer
{
    color: #777;
}
footer a
{
    color: #AAA;
}
footer > .Border
{
    border-color: #222;
}

#MainBox button,
#MainBox .Setting label
{
    background-color: inherit;
    border-color: #515151;
    color: inherit;
}

#MainBox button:hover,
#MainBox .Setting label:hover
{
    background-color: #686569;
}

#MainBox .Setting input[type="radio"]:checked + label
{
    background-color: #888589;
}

#MainBox #TypeBox #Input
{
    background-color: inherit;
    color: #DDDDDD;
}

#MainBox #TypeBox #Board span 
{
    color: #BFBFBF;
}

#MainBox #TypeBox #Board .Active
{
    color: #DDDDDD;
    background-color: #686569;
}

#MainBox #TypeBox #Board .ActiveWrong
{
    color: #DDDDDD;
    background-color: #995657;
}

#MainBox #TypeBox #Board .Typed
{
    color: #DDDDDD;
}

#MainBox #TypeBox #Board .TypedWrong
{
    color: #FF7777;
}
