body 
{
    background-color: #FFFFFF;
    color: #333333;
}

footer
{
    border-top: 1px solid #EEE;
    color: #AAA;
}
footer a
{
    color: #888;
}

#MainBox button,
#MainBox .Setting label
{
    background-color: inherit;
    border-color: #BFBFBF;
    color: inherit;
}

#MainBox button:hover,
#MainBox .Setting label:hover
{
    background-color: #E8E8E8;
}

#MainBox .Setting input[type="radio"]:checked + label
{
    background-color: #DADADA;
}

#MainBox #TypeBox #Input
{
    background-color: inherit;
    color: #333333;
}

#MainBox #TypeBox #Board span 
{
    color: #666666;
}

#MainBox #TypeBox #Board .Active
{
    color: #333333;
    background-color: #E8E8E8;
}

#MainBox #TypeBox #Board .ActiveWrong
{
    color: #333333;
    background-color: #FFD8D8;
}

#MainBox #TypeBox #Board .Typed
{
    color: #333333;
}

#MainBox #TypeBox #Board .TypedWrong
{
    color: #FF3333;
}
