*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #111;
    font-family: "Noto Sans", "Segoe UI", "Arial", sans-serif;
    font-size: 18px;
}

main {
    flex: 1;
    padding: 10px;
}

footer {
    font-size: 14px;
    padding: 20px 10px;
    color: #888;
    background-color: #eee;
}
footer .content {
    display: none;
    transition: display 1s, height 1s;
}
footer:hover .content {
    display: block;
}

a {
    color: #666;
}

button {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #ddd;
    font-size: 16px;
    cursor: pointer;
}

button.active {
    color: blue;
}

.setting-option {
    padding: 3px 7px;
    font-size: 14px;
}

.word-list {
    margin-bottom: 10px;
    font-size: 26px;
}
.word-list.classic,
.word-list.float {
    overflow-y: hidden;
    height: 120px;
}
.word-list.train {
    overflow-x: hidden;
    white-space: nowrap;
}

.word {
    display: inline-block;
    padding: 2px 5px;
    color: #666;
}
.word.active,
.word.typed{
    color: #111;
}
.word.active.wrong,
.word.typed.wrong {
    color: red;
}


footer .content,
.board,
.score,
.setting-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.board {
    margin-top: 50px;
    margin-bottom: 20px;
}

.input,
.info {
    display: inline-block;
    padding: 5px;
}

.input {
    background-color: #eee;
    border: 0;
    margin-right: 10px;
    padding: 2px 5px;
    font-size: 24px;
    max-width: 400px;
}

.input.float {
    position: absolute;
    max-width: 200px;
}

.info {
    color: #333;
}

.highlighter {
    z-index: -1;
    position: absolute;
    display: inline-block;
    background-color: #eee;
    width: 10px;
    height: 10px;
}

.score {
    margin-bottom: 20px;
}
.setting-container {
    margin-bottom: 10px;
}
