*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Noto Sans", "Segoe UI", "Arial", sans-serif;
    font-size: 18px;
}

main {
    flex: 1;
    padding: 10px;
}

footer {
    font-size: 14px;
    padding: 20px 10px;
}
footer .content {
    display: none;
}
footer:hover .content {
    display: block;
}

button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    border-width: 2px;
    border-style: solid;
}

.setting-option {
    padding: 3px 7px;
    font-size: 14px;
}

.word-list,
.wait-screen {
    margin-bottom: 10px;
    font-size: 26px;
}
.word-list.classic,
.word-list.float {
    overflow-y: hidden;
    height: 120px;
}
.word-list.train {
    overflow-x: hidden;
    white-space: nowrap;
}

.word {
    transition: color 0.3s;
    display: inline-block;
    padding: 2px 5px;
}


footer .content,
.board,
.score,
.setting-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.board {
    margin-bottom: 20px;
}

.board,
.score {
    margin-top: 50px;
}
@media (max-width: 850px) {
    .board,
    .score {
        margin-top: 20px;
    }
    .word-list {
        font-size: 24px;
    }
}

.input,
.info {
    display: inline-block;
    padding: 5px;
}

.input {
    border: 0;
    margin-right: 10px;
    padding: 2px 5px;
    font-size: 24px;
    width: 100%;
    max-width: 400px;
}

.input.float {
    position: absolute;
    max-width: 200px;
}

.highlighter {
    z-index: -1;
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.score {
    padding: 2px 5px;
    margin-bottom: 20px;
}
.score .title {
    font-size: 28px;
}
.score .subtitle {
    font-size: 22px;
}
.setting-container {
    margin-bottom: 10px;
}
