body {
    background-color: #FAFAFA;
    color: #333;
}

footer {
    background-color: #a537b7;
    border-top: 10px solid #408dff;
    color: #FEFEFE;
}

a {
    color: #FEFEFE;
}

button {
    border-width: 0px;
    padding: 7px 20px;
    background-color: #40c066;
    color: #FEFEFE;
}

button.active {
    background-color: #50a7aa;
}

.setting-category button {
    padding: 5px 15px;
}

.word.active {
    color: #FFF;
}
.word.typed.wrong {
    color: #e40303;
}

.input {
    background-color: #ffed50;
    color: #333;
}

.highlighter {
    background-color: #ffac20;
    color: #333;
}

.word.active.wrong,
.highlighter.wrong,
.input.float.wrong {
    background-color: #f44343;
}
.score {
    color: #747ACA;
}
.score .title,
.score .subtitle {
    color: #333;
}
