body {
    background-color: #222;
    color: #fff;
}

footer {
    background-color: #76767d;
    color: #ddd;
}

a {
    color: #fff;
}

button {
    border-color: #76767d;
    background-color: #76767d;
    color: #ededed;
}

button.active {
    border-color: #bfbfcc;
}

.word {
    color: #ddd;
}
.word.active,
.word.typed {
    color: #fff;
}
.word.typed.wrong {
    color: #f77;
}

.input,
.highlighter {
    background-color: #6b6b73;
    color: #fff;
}
.input.float.wrong,
.highlighter.wrong {
    background-color: #f35;
}

.info {
    color: #eee;
}
