body {
    background-color: #222;
    color: #fff;
}

footer {
    background-color: #555;
    color: #ddd;
}

a {
    color: #fff;
}

button {
    border-color: #555;
    background-color: #555;
    color: #dedede;
}

button.active {
    border-color: #889;
}

.word {
    color: #ddd;
}
.word.active,
.word.typed {
    color: #fff;
}
.word.typed.wrong {
    color: #f77;
}

.input {
    background-color: #666;
    color: #fff;
}
.input.float.wrong,
.highlighter.wrong {
    background-color: #f55;
}

.info {
    color: #eee;
}

.highlighter {
    background-color: #666;
}
