body {
    background-color: #F3F0D7;
    color: #554F4E;
}

footer {
    background-color: #FEFEEE;
}

a {
    color: #A77A64;
}

button {
    border-color: #DCC2AC;
    background-color: #DCC2AC;
    color: #555;
}

button.active {
    border-color: #EEA594;
    background-color: #EEA594;
}

.word.active {
    color: #F4F3DB;
}
.word.typed.wrong {
    color: #A88354;
}

.input {
    background-color: #CEE5D0;
    color: inherit;
}

.highlighter,
.input.float {
    background-color: #3FAB9B;
    color: #F4F3DB;
}

.word.active.wrong,
.highlighter.wrong,
.input.float.wrong {
    background-color: #D8B384;
}
